@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    font-weight: 400;
}

ul {
    list-style: none;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.my-header {
    margin: 20px 0;
    padding: 20px 0;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.wrapper-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

.logo-link {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    gap: 8px;
}

.wrapper-menu {
    display: flex;
    align-items: center;
}

.base-nemu {
    display: flex;
    gap: 30px;
}

.search-cart {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.content-wrapper-home {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.tovar-card {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.add-cart {
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    background: #fff;
    cursor: pointer;
    transition: .6s;
}

.add-cart:hover {
    background: rgb(209, 209, 209);
    transition: .6s;
}